html {
  height: 100%;
}
body {
  font-family: 'open sans', 'Microsoft YaHei';
  font-size: 14px;
  height: 100%;
  padding-top: 50px;
  background: #eee;
  position: relative;
}
.mb10 {
  margin-bottom: 10px;
}
.pr0 {
  padding-right: 0;
}
.pl10 {
  padding-left: 10px;
}
.wait {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: .2;
  background-color: #222;
  z-index: 10000;
}
.wait #div_loading {
  position: fixed;
  z-index: 11;
  top: 419px;
  left: 892px;
}
.navbar {
  height: 50px;
  margin-bottom: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o--border-radisu: 0;
}
.navbar .navbar-header {
  width: 226px;
}
.navbar .navbar-header.toggle {
  margin-right: 0;
}
.navbar #toggle-aside {
  position: absolute;
  top: 12px;
  left: 173px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}
.navbar .select-con {
  padding-top: 16px;
  color: #fff;
}
.navbar .nav {
  margin: 0;
}
.navbar .nav li {
  height: 50px;
  float: left;
}
.navbar .nav li a {
  height: 50px;
  padding-top: 13px;
}
.content-wrap {
  position: relative;
  height: 100%;
}
.content-wrap aside {
  position: fixed;
  float: left;
  width: 166px;
  height: 100%;
  background: black;
  padding-top: 30px;
  z-index: 1;
}
.content-wrap aside .title {
  padding-left: 10px;
  height: 30px;
  line-height: 10px;
}
.content-wrap aside .title span {
  padding-left: 10px;
}
.content-wrap aside .item-list {
  position: relative;
  background: black;
  color: #fff;
}
.content-wrap aside .item-list .item .collapse-title {
  display: inline-block;
  width: 100%;
  height: 36px;
  line-height: 36px;
  color: #fff;
  padding-left: 10px;
}
.content-wrap aside .item-list .item .collapse-title span {
  padding-left: 10px;
}
.content-wrap aside .item-list .item ul {
  display: none;
}
.content-wrap aside .item-list .item ul li a {
  display: inline-block;
  width: 100%;
  padding-left: 40px;
}
.content-wrap.test {
  position: relative;
  height: 100%;
}
.content-wrap.test .hide-self {
  display: none;
}
.content-wrap.test aside {
  width: 60px;
  height: 100%;
  background: black;
  padding-top: 30px;
}
.content-wrap.test aside .title {
  padding-left: 10px;
  height: 30px;
  line-height: 10px;
}
.content-wrap.test aside .title span {
  padding-left: 10px;
}
.content-wrap.test aside .item-list {
  background: black;
  color: #fff;
}
.content-wrap.test aside .item-list .item {
  position: relative;
}
.content-wrap.test aside .item-list .item .collapse-title {
  display: inline-block;
  width: 100%;
  height: 36px;
  line-height: 36px;
  color: #fff;
  padding-left: 10px;
}
.content-wrap.test aside .item-list .item .collapse-title span {
  padding-left: 10px;
}
.content-wrap.test aside .item-list .item .collapse-title:hover {
  background: #2b2b38;
}
.content-wrap.test aside .item-list .item .item-content {
  position: absolute;
  display: none;
  width: 160px;
  top: 0;
  left: 60px;
  background: #2b2b38;
  z-index: 11;
}
.content-wrap.test aside .item-list .item .item-content li a {
  display: inline-block;
  width: 100%;
  padding-left: 40px;
}
.content.test {
  padding-left: 60px;
}
.content {
  box-sizing: border-box;
  float: left;
  width: 100%;
  height: 100%;
  padding-left: 166px;
  background: #272822;
  overflow-y: auto;
}
.content .topbar .breadcrumb {
  border-radius: 0;
}
.content .main {
  width: 100%;
  height: 100%;
}
.content .main .content-left {
  float: left;
  width: 70%;
  height: 100%;
}
.content .main .content-left form {
  box-sizing: border-box;
  padding: 10px;
  margin-right: 0;
  background: #eee;
}
.content .main .content-left form .extend input {
  display: inline-block;
}
.content .main .content-left form .extend span {
  display: inline-block;
  margin-left: 10px;
  margin-top: 6px;
}
.content .main .content-left form .filter-button {
  width: 50%;
}
.content .main .content-right {
  float: left;
  width: 30%;
  height: 100%;
}
.news-content {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  background: #eee;
}
.news-content .news-info li {
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
}
.news-content .news-info li .time {
  float: right;
  padding-right: 20px;
}
.news-content .news-info li:nth-child(even) {
  background: #d9d9d9;
}
.content-right .div_stat {
  position: fixed;
  margin-left: 15px;
}
.content-right .div_stat .trs {
  border-radius: 0;
  margin-bottom: 10px;
}
.content-right .div_stat .trs .panel-heading {
  padding: 15px 10px;
  background: #f2f2f2;
}
.content-right .div_stat .trs .panel-heading span {
  font-size: 15px;
  font-weight: bold;
}
.content-right .div_stat .trs .panel-heading div {
  margin-top: -6px;
}
.content-right .div_stat .trs .filter-container {
  display: none;
  padding: 6px 5px 10px 5px;
}
.content-right .div_stat .nav-tabs {
  background-color: #f2f2f2;
  border-radius: 0;
}
.content-right .div_stat .nav-tabs .tablist {
  border-radius: 0;
}
.content-right .div_stat .tab-content .tab-pane {
  border-radius: 0;
  border: none;
}
.content-right .div_stat .tab-content .tab-pane .panel {
  border: none;
}
.content-right .div_stat .tab-content .tab-pane .panel .pbody {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}
.content-right .div_stat .tab-content .tab-pane .panel .pbody .filter {
  border-radius: 0;
  border: none;
}
.content-right .div_stat .tab-content .tab-pane .panel .trsfooter {
  padding-top: 8px;
  height: 50px;
  text-align: center;
}
.content-right .div_stat .tab-content .tab-pane .panel .trsfooter .pagination {
  margin: 0;
}
